<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lty.order.sys.mapper.SchoolMapper">

    <select id="getSchool" parameterType="string" resultType="com.lty.commons.School">
        select *
        from
            t_school
        where
            id = #{id}
    </select>

</mapper>
